body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-image: url('./assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
  color: white;
  margin-top: 4%;
  background-color: black;
}

.container {
  margin: auto;
  max-width: 70%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 20px;
}

.game {
  align-self: center;
  max-width: 80%;
  background-color: rgba(60, 48, 204, 0.9);
  border-radius: 10px;
}

.game button {
  color: white;
  font-size: 14px;
  background-color: #3C30CC;
  border-radius: 8px;
  width: 100px;
  height: 30px;
}

.gameover {
  width: 300px;
  align-items: center;
  text-align: center;
}

.gameover p{
  font-size: 30px;
  color: white;
}

.gameover button{
  background-color: #22A2CF;
  color: black;
}

.question {
  padding-top: 25px;
  padding-bottom: 25px;
}

.question h2{
  max-width: 80%;
  color: white;
  margin: 10px;
}

.answers{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  text-align: center;
  margin: 15px 5px 5px 5px;
}

.answers button{
  background-color: #191086;
  width: 300px;
  height: 50px;
  border-radius: 7px;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.answers button:hover{
  background-color: #22A2CF;
  color: black;
}

.answers button.correct-answer {
  background-color: lightgreen;
}

.answers button.incorrect-answer {
  background-color: lightcoral;
}

.prizes{
  background-color: rgba(60, 48, 204, 0.9);;
  color: white;
  border-radius: 10px;
}

.prizes .numbquestions{
  text-align: left;
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 3px;
}

.prizes .pricetable{
  text-align: right;
  padding-right: 10px;
  padding-left: 15px;
}

.answer-popup{
  background-color: lightcoral;
  margin: auto;
  max-width: 70%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 21%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}